body {
	background-color: black;
}

input {
	position: relative;
	width: 600px;
	height: 32px;
	top: 350px;
	left: 630px;
	margin: auto;
	font-size: 1em;
}

input[type="text"], textarea {

  background-color : #1f1e1e;
  border: none;
  color: #a3a3a3;

}

input:hover {
	background-color: #3e3b3b !important;
}

img {
	width: 272px;
	height: 92px;
	margin: 80px 0px 0px 790px;
	display: block;
	padding-top: 109px;
}

#search {
    position: relative;
    left: 130px;
    top: 440px;
    background-color: #1f1e1e;
    color: #a3a3a3 ;
    height: 36px;
    border: 1px solid #242424;
    font-weight: bold;
    font-size: 1em;
    width: 160px;
}

button:hover {
	background-color: #3e3b3b !important;
}

#lucky {
    position: relative;
    left: 170px;
    top: 440px;
    background-color: #1f1e1e;
    color: #a3a3a3 ;
    height: 36px;
    border: 1px solid #242424;
    font-weight: bold;
    font-size: 1em;
    width: 160px;
}

li {
	color: #a3a3a3 ;
	display: inline;
	padding: 8px;
	font-size: 1em;
}

#footer {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin-left: -27px;
	background-color: #0c0c0c;
}

#header {
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	right: 0;
}

#blst1 {
	float: left;
}

#blst2 {
	float: right;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: #afafaf; 
}